{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content%}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-4">
        <img src="{{pitches.image_path}}" class="img-resposive">
    </div> 
    
    <div class="col-sm-8">
        <!-- {{format_pitch|safe}} -->
        {% for pitch in pitches %}
        <p>{{pitch.id}}</p>
        <h3>{{pitch.description}}</h3>
        <h4>{{user.username}}</h4>
    </div>
   </div> 
</div> 

{%endblock%}
